@keyframes projectAnimation {
  from {
    transform: rotateZ(0) scale(1);
  }

  to {
    transform: rotateZ(360deg) scale(0);
  }
}

@keyframes card-animae {
  0% {
    transform: scale(0.8);
  }

  70% {
    transform: scaleY(1);
    filter: brightness(0.4);
  }

  100% {
    transform: scaleY(1.2);
    filter: brightness(1);
  }
}

.Project {
  margin: auto;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;

  h3 {
    padding: 0 0 50px;
    font-size: 2.5em;
    line-height: 100px;
  }

  .Project-Content {
    margin: 0 auto;
    width: 960px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px;
    column-gap: 30px;
    row-gap: 30px;

    .Project-item {
      position: relative;
      width: 100%;
      border-radius: 10px;

      &:nth-child(1) {
        background-color: beige;
      }

      &:nth-child(2) {
        background-color: purple;
      }

      &:nth-child(3) {
        background-color: burlywood;
      }

      .pr-info {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        opacity: 0;
        text-align: left;
        color: white;

        h4 {
          position: absolute;
          bottom: 100px;
          left: 20px;
        }

        p {
          position: absolute;
          bottom: 70px;
          left: 20px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        z-index: 10;
      }

      .expand {
        position: absolute;
        width: 100vw;
        height: 100vw;
        top: -40vw;
        left: -40vw;
        border-radius: 50%;
        z-index: 50;
        transition: all 0.5s linear;
        transform: scale(3, 3);
      }

      .contraction {
        position: absolute;
        width: 100vw;
        height: 100vw;
        top: -40vw;
        left: -40vw;
        border-radius: 50%;
        z-index: 50;
        transition: all 0.5s linear;
        transform: scale(0, 0);
      }
    }

    .Project-item:hover {
      cursor: pointer;

      .pr-info {
        opacity: 0.9;
        background: linear-gradient(
          rgba(0, 0, 0, 0.1) 10%,
          rgba(0, 0, 0, 0.78) 80%
        );
      }
    }
  }

  .bazzle {
    background-color: rgb(44, 44, 150);
  }

  .purple {
    background-color: purple;
  }

  .yellow {
    background-color: yellow;
  }
}
