$shadow: #0808080c;

a {
  text-decoration: none;
  color: white;
}

.Intro-box {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  // justify-content: center;
  height: 100vh;
  background-color: white;
  color: #0a192f;

  .Intro-box1 {
    background-color: inherit;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;

    h2 {
      top: calc(40vh - 40px);
      left: calc((100vw - 700px) / 2);
      width: 700px;

      span {
        width: 100%;
        height: 100%;
        letter-spacing: 1px;
        font-size: 120px;
      }

      // .poly {
      //   animation: titleAnimation 3s ease infinite;
      // }

      .Hello {
        text-shadow: $shadow 1px 1px, $shadow 3px 3px, $shadow 5px 5px,
          $shadow 4px 4px;
      }
    }
  }
}

@keyframes helloAnimation {
  0% {
    color: white;
  }
  25% {
    color: gold;
  }
  50% {
    color: white;
  }
  75% {
    color: gold;
  }
  100% {
    color: white;
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
}
