@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,300&display=swap');
$text-color: #ffffff;

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  font-size: 18px;
  font-weight: 600;
  color: $text-color;
  z-index: 99;

  // animation: HeaderAni 2s ease-out;
  background-color: rgba(10, 25, 47, 0);

  span {
    font-size: 1.5em;
    width: 100px;
    height: 100%;
    line-height: 80px;
    font-family: 'Tourney', "Gamja Flower", cursive, sans-serif;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        position: relative;
        width: 100px;
        text-align: center;
        font-size: 1em;
        line-height: 80px;

        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 50%;
          width: 0;
          height: 1px;
          background: white;
          transition-property: width, left;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
        }

        &:hover {
          cursor: pointer;
        }

        &:hover::after {
          left: 0;
          width: 100%;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

// @keyframes HeaderAni {
//   from {
//     opacity: 0;
//     transform: translateY(-50px);
//   }

//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
