@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&display=swap");

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  font-size: 18px;
  font-weight: 600;
  color: orange;
  z-index: 99;
  animation: HeaderAni 2s ease-out;

  span {
    font-size: 1.5em;
    width: 100px;
    height: 100%;
    line-height: 80px;
    font-family: 'Gamja Flower', cursive;
  }

  nav {

    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        width: 100px;
        list-style: none;
        text-decoration: none;
        text-align: center;
        font-size: 1em;
        line-height: 80px;
      }
    }
  }
}

@keyframes HeaderAni {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}